<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>로그인</title>
</head>
<!-- 헤더 파일을 include -->
<div th:replace="~{/include/header}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(function(){
		$("#btnLogin").click(function(){
			var username = $("#username").val();
			var password = $("#password").val();
			if(username == ""){
				alert("아이디를 입력하세요");
				$("#username").focus();				// 입력 포커스 이동
				return;								// 함수 종료
			}
			if(password == ""){
				alert("비밀번호를 입력하세요");
				$("#password").focus();
				return;
			}
			
			// 폼 내부의 데이터를 전송할 주소
			$("form[name='form1']").attr("action","/sportspsychology/login_check");
			$("form[name='form1']").submit();				// 제출
		});
	});
</script>
<body>
	<!-- 메뉴 파일을 include -->
	<div th:replace="~{/include/menu}"></div>
	
	<h2>로그인</h2>
	<form name="form1" method="post" th:action="@{/sportspsychology/login_check}">
	<table border="1" width="400px">
	<tr>
		<td>아이디</td>
		<td><input id="username" name="username" th:value="${username}"></td>
	</tr>
	<tr>
		<td>비밀번호</td>
		<td><input type="password" id="password" name="password" th:value="${password}"></td>
	</tr>
	<tr>
		<td colspan="2" align="center">	
		<button type="button" id="btnLogin">로그인</button>
		
		<!-- 메시지 처리 부분 -->
		<div th:if="${message == 'error'}" style="color:red;">
			아이디 또는 비밀번호가 일치하지 않습니다.
		</div>
		<div th:if="${message == 'logout'}" style="color:red;">
			로그아웃되었습니다.
		</div>
		</td>
		</tr>
	</table>
	</form>
</body>
</html>