<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Read Article</title>
</head>
<div th:replace="~{/include/header}"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<body>
	<!-- 
	<h1 th:text="${vo.title}"></h1>
	<hr>
	<p th:text="${vo.content}"></p>
	<p>글쓴이 : [[${vo.writer}]]</p>
	<p>등록일 : [[${vo.regdate}]]</p>
	<p>수정일 : [[${vo.updatedate}]]</p>
	-->
	<form action="/board/remove">
		<table border="1">
			<tr><td>제목</td><td th:text="${vo.title}"></td></tr>
			<tr><td>내용</td><td th:text="${vo.content}"></td></tr>
			<tr><td>저자</td><td th:text="${vo.writer}"></td></tr>
			<tr><td>등록</td><td th:text="${vo.regdate}"></td></tr>
			<tr><td>수정</td><td th:text="${vo.updatedate}"></td></tr>	
		</table>
		<input type="hidden" name="bno" th:field="${vo.bno}">
		<button>삭제하기</button>
		<input type="button" onclick="goUpdate()" value="수정하기"> 
	</form>
</body>
<script th:inline="javascript">
	function goUpdate(){
		let bno = [[${vo.bno}]];
		location.href = "/board/modify?bno=" + bno;
	}

	var title = [[${vo.bno}]];
	console.log(title);
	// alert(title);
</script>
</html>